

.button{
    width: 170px;
    height: 47px;
    border-radius: 12px;
    background-color: black;
    color: #34c94b;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
}