

.head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    /* height: 286px; */
    gap: 40px;
    margin-top: 16px;
    
}
.head h3{
    color: white;
}
.toggle{
    cursor: pointer;
    color: #34b94c;
}

.cardWrap{
    margin-top: 18px;
   
}

.filterWrapper{
    margin-top: 15px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}