.parent{
    width: 568px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
}

.parent input{
    width: 493px;
    height: 45px;
    border-radius: 8px 0 0 8px;
    padding: 0 0 0 8px;
}
.parent button{
    width: 66px;
    height: 48px;
    border-radius: 0 8px 8px 0;
}