.navbar{
    background-color: #34c94b;
    /* border: 1px solid; */
    width: 1400;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 16px;
}